<?xml version="1.0" encoding="utf-8" ?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc3"/>
    </sectionGroup>
  </configSections>
  <appSettings>
      <add key="agent" value="1234567890"/>
      <add key="pwd" value="1234567890"/>
  </appSettings>
  <spring>
    <context>
      <resource uri="config\controllers.xml"/>
    </context>
  </spring>
  <system.serviceModel>
    <bindings configSource="config\wcf\Bindings.config"></bindings>
    <behaviors configSource="config\wcf\Behaviors.config"></behaviors>
    <extensions configSource="config\wcf\extensions.config"></extensions>
    <client>
      <endpoint name="e_IAgentTokenService" address="http://127.0.0.1:81/AgentTokenService.svc"
                 binding="basicHttpBinding" contract="Zfrong.Framework.Core.Service.ServiceContract.ITokenService">
      </endpoint>
      <endpoint name="e_ICompanyGroupExtService" address="http://127.0.0.1:82/CompanyGroupExtService.svc"
                binding="basicHttpBinding" contract="DataPlatform.Contract.ServiceContract.ICompanyGroupExtService">
      </endpoint>
      <endpoint name="e_IBrandExtService" address="http://127.0.0.1:82/BrandExtService.svc"
               binding="basicHttpBinding" contract="DataPlatform.Contract.ServiceContract.IBrandExtService">
      </endpoint>
      <endpoint name="e_IProductExtService" address="http://127.0.0.1:82/ProductExtService.svc"
               binding="basicHttpBinding" contract="DataPlatform.Contract.ServiceContract.IProductExtService">
      </endpoint>
      <endpoint name="e_ISearchTermExtService" address="http://127.0.0.1:82/SearchTermExtService.svc"
               binding="basicHttpBinding" contract="DataPlatform.Contract.ServiceContract.ISearchTermExtService">
      </endpoint>
      <endpoint name="e_IDataItemExtService" address="http://127.0.0.1:82/DataItemExtService.svc"
               binding="basicHttpBinding" contract="DataPlatform.Contract.ServiceContract.IDataItemExtService">
      </endpoint>
      <endpoint name="e_IDataFilterExtService" address="http://127.0.0.1:82/DataFilterExtService.svc"
               binding="basicHttpBinding" contract="DataPlatform.Contract.ServiceContract.IDataFilterExtService">
      </endpoint>
      <endpoint name="e_IStatisticsExtService" address="http://127.0.0.1:82/DStatisticsExtService.svc"
               binding="basicHttpBinding" contract="DataPlatform.Contract.ServiceContract.IStatisticsExtService">
      </endpoint>
    </client>
  </system.serviceModel>
  <system.web>
   <customErrors mode="RemoteOnly"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>

    <!-- Spring.Net HttpHandlers for pages, controls and services (ashx) -->
    <!-- Without these handlers, ASP.Net will provide the pages and Spring won't do anything! -->
    <!-- ERROR: We forgot to uncomment the httpHandlers to enable Spring -->
    <!--<httpHandlers>
      <add verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web" />
      <add verb="*" path="*.ashx" type="Spring.Web.Support.MappingHandlerFactory, Spring.Web" validate="true" />
      <add verb="*" path="*.ascx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web" />
    </httpHandlers>-->
    <!-- Spring.Net HttpModule providing other ASP.NET support (e.g. module injection, session support)
         Also provides a resource handler for the 'web' protocol -->
    <!-- ERROR: We forgot to uncomment the httpModule, resulting in the error:
                Resource handler for the 'web' protocol is not defined.
    -->
    <httpModules>
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web" />
    </httpModules>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
