<?xml version="1.0" encoding="utf-8" ?>
<behaviors>
  <endpointBehaviors>
    <behavior name="attachToken">
      <!--<webHttp helpEnabled="true"/>-->
      <attachTokenBehavior/>
    </behavior>
  </endpointBehaviors>
  <serviceBehaviors>
    <behavior name="defaultBehavior">
      <serviceMetadata httpGetEnabled="true"/>
      <serviceDebug includeExceptionDetailInFaults="True"/>
    </behavior>
    <behavior>
      <serviceMetadata httpGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
  </serviceBehaviors>
</behaviors>