<?xml version="1.0" encoding="utf-8" ?>
<services>
  <service name="brandExtService" behaviorConfiguration="defaultBehavior">
    <endpoint address="" binding="basicHttpBinding" contract="DataPlatform.Contract.ServiceContract.IBrandExtService"/>
  </service>
  <service name="companyGroupExtService" behaviorConfiguration="defaultBehavior">
    <endpoint address="" binding="basicHttpBinding" contract="DataPlatform.Contract.ServiceContract.ICompanyGroupExtService"/>
  </service>
  <service name="dataFilterExtService" behaviorConfiguration="defaultBehavior">
    <endpoint address="" binding="basicHttpBinding" contract="DataPlatform.Contract.ServiceContract.IDataFilterExtService"/>
  </service>
  <service name="dataItemExtService" behaviorConfiguration="defaultBehavior">
    <endpoint address="" binding="basicHttpBinding" contract="DataPlatform.Contract.ServiceContract.IDataItemExtService"/>
  </service>
  <service name="productExtService" behaviorConfiguration="defaultBehavior">
    <endpoint address="" binding="basicHttpBinding" contract="DataPlatform.Contract.ServiceContract.IProductExtService"/>
  </service>
  <service name="searchTermExtService" behaviorConfiguration="defaultBehavior">
    <endpoint address="" binding="basicHttpBinding" contract="DataPlatform.Contract.ServiceContract.ISearchTermExtService"/>
  </service>
  <service name="statisticsExtService" behaviorConfiguration="defaultBehavior">
    <endpoint address="" binding="basicHttpBinding" contract="DataPlatform.Contract.ServiceContract.IStatisticsExtService"/>
  </service>
</services>