<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="user" value="123456789"/>
    <add key="pwd" value="1234567890123456"/>
  </appSettings>
  <system.serviceModel>
    <bindings configSource="config\wcf\Bindings.config"></bindings>
    <behaviors configSource="config\wcf\Behaviors.config"></behaviors>
    <extensions configSource="config\wcf\extensions.config"></extensions>
    <client>
      <endpoint name="e_ITokenService" address="http://localhost:5525/TokenService.svc"
                 binding="basicHttpBinding" contract="Zfrong.Framework.Core.Service.ServiceContract.ITokenService">
      </endpoint>
      <endpoint name="e_IUserService" address="http://localhost:5525/UserService.svc"
                binding="basicHttpBinding" contract="AgentPlatform.Contract.ServiceContract.IUserService">
      </endpoint>
      <endpoint name="e_IUserExtService" address="http://localhost:5525/UserExtService.svc"
                binding="basicHttpBinding" contract="AgentPlatform.Contract.ServiceContract.IUserExtService">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>