body{margin:1px; vertical-align:top;}
form{margin:0px}
td,div{line-height:18px;font-size:12px;font-family:Arial;text-align:left}

ul {margin:7px; border:0px; padding:0px;}
div,li,img{margin:0px; border:0px; padding:0px;}

a:link{color:#261CDC}
a:visited{color:#800080}
a:hover 
{
	text-decoration: underline;color:#000;background-color:#DEEEF4;
}
#usrbar{font-size:12px;height:19px;line-height:19px;text-align:right;}

#head {min-width:756px; }
#main{margin-top:10px;min-width:756px;}
#left{float:left;width:200px;}
#right{float:right;width:180px;}
#center{margin:0 180px 0 200px;padding:0 12px 0 12px !important;padding:0 9px 0 9px;}

#foot{min-width:756px; clear:both;margin-top:10px;line-height:20px;text-align:center;}
#foot,#foot *{color:#77C;font-size:12px;font-family:Arial;white-space:nowrap;}

#ft{clear:both;margin-top:10px;line-height:20px;text-align:center}
#ft,#ft *{color:#77C;font-size:12px;font-family:Arial;white-space:nowrap}

.pageer{line-height:20px;text-align:center;font-size:16px;}

.mb2{margin-bottom:2px;margin-top:0px;}
.mb6{margin-bottom:6px;margin-top:0px;}
.mb3{margin-bottom:3px; margin-top:0px;}

.bgg{background-color:#DDF1D8;}
.bgb{background-color:#DEEEF4;}
.bgy{background-color:#FBF5C6;}
.bg1{background-color:#F7EFD3;}
.bg2{background-color:#D7E9D3;}

.bcg{border-color:#58CB64;}
.bcy{border-color:#F4BF20;}
.bcb{border-color:#64B7D7;}
.bc1{border-color:#EBCA83;}
.bc2{border-color:#99CB8E;}

.b4y{padding:5px 5px 5px 8px;border:1px solid #F4BF20;}
.b4g{padding:5px 10px 8px 10px;border:1px solid #58CB64;}
.b4b{padding:5px 10px 8px 10px;border:1px solid #64B7D7;}
.b4b{padding:5px 10px 8px 10px;border:1px solid #EBCA83;}
.b4b{padding:5px 10px 8px 10px;border:1px solid #99CB8E;}

.t3{padding-left:10px;height:24px;line-height:24px;border-width:1px 1px 0px 1px;
	border-style:solid;font-size:14px;font-weight:bold;}
.t4{padding-left:10px;height:24px;line-height:24px;border-width:1px 1px 1px 1px;
	border-style:solid;font-size:14px;font-weight:bold;}
	
.b3{padding:5px 5px 5px 8px;border-width:0px 1px 1px;border-style:solid;}

.ListT{border-color:#64B7D7;background-color:#DEEEF4;}
.ListC{border-color:#64B7D7;margin-bottom:6px;margin-top:0px;}

.ItemT{border-color:#64B7D7;background-color:#DEEEF4;}
.ItemC{border-color:#64B7D7;margin-bottom:6px;margin-top:0px;}