<?xml version="1.0" encoding="utf-8" ?>
<services>
  <service name="agentTokenService" behaviorConfiguration="defaultBehavior">
    <endpoint address="" binding="basicHttpBinding" contract="Zfrong.Framework.Core.Service.ServiceContract.ITokenService">
    </endpoint>
  </service>
  <service name="userTokenService" behaviorConfiguration="defaultBehavior">
    <endpoint address="" binding="basicHttpBinding" contract="Zfrong.Framework.Core.Service.ServiceContract.ITokenService">
    </endpoint>
  </service>
</services>