<?xml version="1.0" encoding="utf-8"?>
<daoConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="DaoConfig.xsd">
		
	<context name="SqlMapDao">
		<daoSessionHandler name="SqlMap">
			<property name="sqlMapConfigFile" value="sqlMap.config"/>
		</daoSessionHandler>
		
		<!-- ==== Sql Server : SqlClient configuration ========= -->
		<database>
			<dataSource name="SqlServer" connectionString="data source=.;database=Group;user id=sa;password=123456;connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/>
		</database>
		<daoFactory assembly="Test.dll">
			<dao name="QQGroup" interface="IBatisNet.DataAccess.Interfaces.IDao, IBatisNet.DataAccess"
				implementation="App.Persistence.MapperDao.QQGroupSqlMapDao"/>
		</daoFactory>
	</context>
	
</daoConfig>
