<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/mapping" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	  <setting validateSqlMap="false"/>
	</settings>
			
	<!-- ==== SqlClient configuration =========	-->
	<!-- Optional ( default ) -->
	<!-- Rem : If used with a Dao it will be ignored -->
	<database>
		<provider name="sqlServer2.0"/>
		<dataSource name="NPetshop" connectionString="data source=.;database=group;user id=sa;password=123456;connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/>
	</database>

	<sqlMaps>
		<sqlMap resource="../../Maps/QQGroup.xml"/>
	</sqlMaps>
</sqlMapConfig>
