<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <object id="companyGroupExtDao" type="DataPlatform.Dao.CompanyGroupExtDao, DataPlatform.DataAccess">
    <constructor-arg ref="companyGroupExtDaoPlugin"/>
    <property name="SessionFactory" ref="nHibernateSessionFactory2"></property>
  </object>
  <object id="brandExtDao" singleton="false" type="DataPlatform.Dao.BrandExtDao, DataPlatform.DataAccess">
    <constructor-arg ref="brandExtDaoPlugin"/>
    <property name="SessionFactory" ref="nHibernateSessionFactory2"></property>
  </object>
  <object id="productExtDao" type="DataPlatform.Dao.ProductExtDao, DataPlatform.DataAccess">
    <constructor-arg ref="productExtDaoPlugin"/>
    <property name="SessionFactory" ref="nHibernateSessionFactory2"></property>
  </object>
  <object id="dataItemExtDao" type="DataPlatform.Dao.DataItemExtDao, DataPlatform.DataAccess">
    <constructor-arg ref="dataItemExtDaoPlugin"/>
    <property name="SessionFactory" ref="nHibernateSessionFactory2"></property>
  </object>
  <object id="dataFilterExtDao" type="DataPlatform.Dao.DataFilterExtDao, DataPlatform.DataAccess">
    <constructor-arg ref="dataFilterExtDaoPlugin"/>
    <property name="SessionFactory" ref="nHibernateSessionFactory2"></property>
  </object>
  <object id="searchTermExtDao" singleton="false" type="DataPlatform.Dao.SearchTermExtDao, DataPlatform.DataAccess">
    <constructor-arg ref="searchTermExtDaoPlugin"/>
    <property name="SessionFactory" ref="nHibernateSessionFactory2"></property>
  </object>
  <object id="statisticsExtDao" type="DataPlatform.Dao.StatisticsExtDao, DataPlatform.DataAccess">
    <constructor-arg ref="statisticsExtDaoPlugin"/>
    <property name="SessionFactory" ref="nHibernateSessionFactory2"></property>
  </object>
</objects>