<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:db="http://www.springframework.net/database"
         xmlns:tx="http://www.springframework.net/tx">
  <db:provider id="dbProvider2" provider="MySql-6.1.3"
   connectionString="Server=127.0.0.1;Database=fw;User ID=root;Password=123456"/>
  <!--Spring.Data.NHibernate.LocalSessionFactoryObject, Spring.Data.NHibernate-->
  <object id="nHibernateSessionFactory2" type="Zfrong.Framework.Repository.Utils.NHibernateLocalSessionFactoryObject,Zfrong.Framework.Repository">
    <property name="DbProvider" ref="dbProvider2"/>
    <property name="MappingAssemblies">
      <list></list>
    </property>
    <property name="SchemaAction" value="Update"></property>
    <property name="ByCodeMappingAssemblies">
      <list>
      <value>Zfrong.Framework.Core</value>
      <value>DataPlatform.Model</value>
	  <value>AgentPlatform.Model</value>
      </list>
    </property>
    <property name="HibernateProperties">
      <dictionary>
        <entry key="query.factory_class" value="NHibernate.Hql.Ast.ANTLR.ASTQueryTranslatorFactory, NHibernate"/>
        <entry key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
        <entry key="dialect" value="NHibernate.Dialect.MySQLDialect"/>
        <entry key="show_sql" value="true"/>
        <entry key="connection.driver_class" value="NHibernate.Driver.MySqlDataDriver"/>
      </dictionary>
    </property>
    <property name="ExposeTransactionAwareSessionFactory" value="true" />
  </object>
  <object id="transactionManager" type="Spring.Data.NHibernate.HibernateTransactionManager, Spring.Data.NHibernate32">
    <property name="DbProvider" ref="dbProvider2"/>
    <property name="SessionFactory" ref="nHibernateSessionFactory2"/>
  </object>

  <tx:attribute-driven/>
</objects>