<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <object id="companyGroupExtDaoPlugin" type="Zfrong.Framework.Repository.ExtNHibernateRepository&lt;DataPlatform.Model.CompanyGroup>,Zfrong.Framework.Repository">
    <property name="SessionFactory" ref="nHibernateSessionFactory2"></property>
  </object>
  <object id="brandExtDaoPlugin" type="Zfrong.Framework.Repository.ExtNHibernateRepository&lt;DataPlatform.Model.Brand>,Zfrong.Framework.Repository">
    <property name="SessionFactory" ref="nHibernateSessionFactory2"></property>
  </object>
  <object id="productExtDaoPlugin" type="Zfrong.Framework.Repository.ExtNHibernateRepository&lt;DataPlatform.Model.Product>,Zfrong.Framework.Repository">
    <property name="SessionFactory" ref="nHibernateSessionFactory2"></property>
  </object>
  <object id="dataItemExtDaoPlugin" type="Zfrong.Framework.Repository.ExtNHibernateRepository&lt;DataPlatform.Model.DataItem>,Zfrong.Framework.Repository">
    <property name="SessionFactory" ref="nHibernateSessionFactory2"></property>
  </object>
  <object id="dataFilterExtDaoPlugin" type="Zfrong.Framework.Repository.ExtNHibernateRepository&lt;DataPlatform.Model.DataFilter>,Zfrong.Framework.Repository">
    <property name="SessionFactory" ref="nHibernateSessionFactory2"></property>
  </object>
  <object id="searchTermExtDaoPlugin" type="Zfrong.Framework.Repository.ExtNHibernateRepository&lt;DataPlatform.Model.SearchTerm>,Zfrong.Framework.Repository">
    <property name="SessionFactory" ref="nHibernateSessionFactory2"></property>
  </object>
  <object id="statisticsExtDaoPlugin" type="Zfrong.Framework.Repository.ExtNHibernateRepository&lt;DataPlatform.Model.Statistics>,Zfrong.Framework.Repository">
    <property name="SessionFactory" ref="nHibernateSessionFactory2"></property>
  </object>
</objects>