<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <object id="companyGroupExtServicePlugin" type="Zfrong.Framework.Bussiness.ExtBussiness&lt;DataPlatform.Model.CompanyGroup>,Zfrong.Framework.Bussiness">
    <property name="CurrentRepository" ref="companyGroupExtDaoPlugin"></property>
  </object>
  <object id="brandExtServicePlugin" type="Zfrong.Framework.Bussiness.ExtBussiness&lt;DataPlatform.Model.Brand>,Zfrong.Framework.Bussiness">
    <property name="CurrentRepository" ref="brandExtDaoPlugin"></property>
  </object>
  <object id="productExtServicePlugin" type="Zfrong.Framework.Bussiness.ExtBussiness&lt;DataPlatform.Model.Product>,Zfrong.Framework.Bussiness">
    <property name="CurrentRepository" ref="productExtDaoPlugin"></property>
  </object>
   <object id="dataItemExtServicePlugin" type="Zfrong.Framework.Bussiness.ExtBussiness&lt;DataPlatform.Model.DataItem>,Zfrong.Framework.Bussiness">
    <property name="CurrentRepository" ref="dataItemExtDaoPlugin"></property>
  </object>
   <object id="dataFilterExtServicePlugin" type="Zfrong.Framework.Bussiness.ExtBussiness&lt;DataPlatform.Model.DataFilter>,Zfrong.Framework.Bussiness">
    <property name="CurrentRepository" ref="dataFilterExtDaoPlugin"></property>
  </object>
   <object id="searchTermExtServicePlugin" type="Zfrong.Framework.Bussiness.ExtBussiness&lt;DataPlatform.Model.SearchTerm>,Zfrong.Framework.Bussiness">
    <property name="CurrentRepository" ref="searchTermExtDaoPlugin"></property>
  </object>
   <object id="statisticsExtServicePlugin" type="Zfrong.Framework.Bussiness.ExtBussiness&lt;DataPlatform.Model.Statistics>,Zfrong.Framework.Bussiness">
    <property name="CurrentRepository" ref="statisticsExtDaoPlugin"></property>
  </object>

</objects>