<#@ include file="..\Abs\AbsTemplate.ttinclude" #>
<#+
    public class ServiceTemplate : AbsTemplate
    {   
        public ServiceTemplate(Table table):base(table)
        {
           
        }
        public override string TransformText()
        {
            base.TransformText();
            WriteLine("using System.ServiceModel;");
            WriteLine("using NHibernate.Criterion;");
            WriteLine(string.Format("using {0}.Model;",this.NamespacePrefix));
            WriteLine(string.Format("namespace {0}.Service{{",this.NamespacePrefix));
            WriteLine(string.Format("public class {0}Service",this.Table.TableName));
            WriteLine("{");
            PushIndent("\t"); 
            WriteLine("");
            PopIndent();
            WriteLine("}");WriteLine("}");
            return this.GenerationEnvironment.ToString();
        }
    }
#>
