<#@ template language="C#" hostspecific="True" debug="True" #>
<#@ import namespace="System.Collections" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ include file="Abs\AbsGenerator.ttinclude" #>
<#@ include file="Abs\inc.ttinclude" #>
<#@ include file="Template\ConfigTemplate.tt" #>
<#
    IEnumerable<Table> tables=MetadataUtils.Current.GetTables(false);
    AbsGenerator  mc=new ConfigGenerator(tables);
    mc.Run();
#>
<#+
public class ConfigGenerator :AbsGenerator
{
    public ConfigGenerator(IEnumerable<Table> tables):base(tables)
    {

    }
    protected override IEnumerable<AbsTemplate> InitlizeTemplates(IEnumerable<Table> tables)
    {        
        foreach(Table table in tables)
        {
            yield return new ConfigTemplate(table){FileSuffix=".config",NamespacePrefix="GeneratedCode"};
        }
    }
}
#>

