<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.1.5" targetFramework="net452" />
  <package id="CommonLibrary.NET_0.9.8.8" version="0.9.8.8" targetFramework="net452" />
  <package id="ConsoleTableExt" version="2.0.1" targetFramework="net452" />
  <package id="Goblinfactory.Konsole" version="3.3.0" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.8.1" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="NCrawler" version="3.0.1" targetFramework="net452" />
  <package id="NCrawler.HtmlProcessor" version="3.0.0" targetFramework="net452" />
  <package id="rohankapoor.AutoPrompt" version="1.0.5" targetFramework="net452" />
</packages>